.box{
    width: 100px;
    height: 100px;
    background-color: red;

    transition: width 1s,height 1s,background-color 1s,transform 1s;
}
.box:hover{
    width: 150px;
    height: 150px;
    background-color: green;
    transform: rotate(180deg);
}